project_name: fs-change-notifier
version: 7
ignore_files:
  - .git
actions:
  - info: cargo-fmt@0.1.0
    exec_in_project_dir: true
    action:
      type: staged
      stage: build
      cmd: cargo fmt -- --config tab_spaces=4,max_width=120 */**/*.rs
  - info: cargo-lint@0.1.0
    action:
      type: staged
      stage: build
      cmd: cargo clippy
      show_success_output: true
  - info: cargo-publish@0.1.0
    action:
      type: observe
      cmd: cargo publish
      ignore_fails: true
      show_success_output: true
      show_cmd: false
      only_when_fresh: false
pipelines:
  - title: ops
    desc: ""
    info: rust-simple@0.1.0
    default: true
    actions:
      - title: Lint
        used: cargo-lint@0.1.0
      - title: Format
        used: cargo-fmt@0.1.0
  - title: publish
    desc: ""
    info: rust-publish@0.1.0
    default: false
    actions:
      - title: Publish
        used: cargo-publish@0.1.0
